:root {
  --point--color1: #00a651;
  --point--color2: #8bc63f;
  --point--color3: #76CA9E;
  --txt-color-400: #666;
  --txt-color-500: #222;
  --txt-color-600: #000;
}

.inner {
  width: 1400px;
}
.main_slider {
  /* img의 크기: 1920 x 980 */
  height: 980px;
  /* img는 inline element, text-align: center로 중앙 정렬 가능 */
  text-align: center;
  background: linear-gradient(90deg, #71AEE8, #77E9CE);
  position: relative;
  /* 확대시 스크롤 제거 */
  overflow: hidden;
}
.main_slider .pc_img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  /* common.css에서 img의 max-width:100% */
  max-width: none;
}
.main_slider .m_img {
  display: none;
}


/* 메인 슬라이더 분기점 */
@media (max-width: 1440px) {
  .main_slider {
    height: 700px;
  }
  .main_slider .pc_img {
    /* 원본 페이지는 vh사용, 최대한 비슷하게 하기 위해 */
    height: 108%;
  }
}


/* 태블릿 분기점 */
@media (max-width: 1200px) {
  .main_slider {
    /* 크기에 맞춰 줄어들게 하기 위해 설정
    16:9 56.25% */
    /* padding은 부모의 width의 기준, 여기서 height는 작동하지 않기 때문에 높이를 조절하려면 padding밖에 없어서 padding-top or padding-bottom 을 쓴다. */
    padding-top: 56.25%;
    height: 0;
  }
}

/* 모바일 분기점 */
@media (max-width: 767px) {
  .main_slider {
    /* 56.25%를 0으로 */
    padding: 0;
    /* height의 default */
    height: auto;
  }
  .main_slider .pc_img {
    display: none;
  }
  .main_slider .m_img {
    display: block;
  }
}
