:root {
  --point--color1: #cad401;
  --point--color2: #007aff;
  --txt-color-400: #888;
  --txt-color-500: #191b1d;
  --txt-color-600: #222;
}
#wrap {
  height: 2000px;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* padding: 0 20px; */
  background: #fff;
  z-index: 9999;
}
#header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 70px;
  background: #f8f8f8;
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #eee;
  /* display: none; */
}

#header .inner {
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
#header .logo {
  /* position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%); */
  margin-left: 70px;
}

#header .gnb_wrap {
  margin: 0 auto;
}
#header .gnb {
  display: flex;
  width: 1280px;
  height: 70px;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  gap: 0 75px;
}
#header .gnb>li {
  position: relative;
}
#header .gnb>li>a {
  display: block;
  font-size: 21px;
  padding: 0;
  line-height: 70px;
  font-weight: 700;
  color: var(--txt-color-600);
}
#header .gnb .depth2 {
  position: absolute;
  left: 0;
  top: 70px;
  width: 95px;
  z-index: 10;
  padding-top: 10px;
  white-space: nowrap;
}
#header .gnb .depth2>li>a {
  display: block;
  font-size: 15px;
  color: #666;
  line-height: 35px;
}
#header .gnb>li:nth-child(2) .depth2 {
  padding-right: 10px;
}
#header .gnb>li:nth-child(3) .depth2 {
  padding-left: 10px;
}

/* util_wrap */
#header .lang_wrap {
  margin-right: 65px;
  position: relative;
  gap: 0 40px;
}
#header .lang_wrap .blog {
  position: absolute;
  right: 110px;
  width: 34px;
  height: 28px;
}
#header .lang_wrap {
  display: flex;
  width: 89px;
  height: 30px;
  background: #222;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
#header .lang {
  display: flex;
  gap: 0 20px;
  position: relative;
}
#header .lang li:nth-child(2) a {
  color: #5e5e5e;
}
#header .lang a {
  display: block;
  font-size: 11px;
  color: #fff;
  /* opacity: 0.3; */
}
#header .lang .active::after {
  content: '';
  width: 1px;
  height: 10px;
  background: #5e5e5e;
  position: absolute;
  left: 50%;
  top: 1px;
}

/* main */
#container {
  /* padding-top: 70px; */
}
/* main_video 메인 비디오 */

.main_video .swiper_wrapper {
  /* width: 100vh; */
}
.main_video .swiper-slide {
  height: 672px;
  width: 100vh;
  height: 100%;

}
.main_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_slider .btn_wrap .swiper-pagination {
  position: static;
  /* width:100%가 기본으로 적용되어 있어 auto로 풀어줌 */
  width: auto;
}

/* 태블릿 분기점 */
@media (max-width: 1200px) {
  
}

/* 모바일 분기점 */
@media (max-width: 767px) {
  
}